/* FONTS
********************************************/
@font-face {
  font-family: 'OS';
  src: url('font/OpenSans-Regular-webfont.eot');
  src: url('font/OpenSans-Regular-webfont.eot?#iefix') format('eot'),
  url('font/OpenSans-Regular-webfont.woff') format('woff'),
  url('font/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('font/OpenSans-Regular-webfont.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OS Semibold';
  src: url('font/OpenSans-Semibold-webfont.eot');
  src: url('font/OpenSans-Semibold-webfont.eot?#iefix') format('eot'),
  url('font/OpenSans-Semibold-webfont.woff') format('woff'),
  url('font/OpenSans-Semibold-webfont.ttf') format('truetype'),
  url('font/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OS Bold';
  src: url('font/OpenSans-Bold-webfont.eot');
  src: url('font/OpenSans-Bold-webfont.eot?#iefix') format('eot'),
  url('font/OpenSans-Bold-webfont.woff') format('woff'),
  url('font/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=3.1.0');
  src: url('font/fontawesome-webfont.eot?#iefix&v=3.1.0') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.1.0') format('woff'), url('font/fontawesome-webfont.ttf?v=3.1.0') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* COMMON STYLES
********************************************/
body {
  padding: 0px;
  margin: 0;
  font-family: "OS", Arial, Sans-serif;
  font-size: 12px;
}
a:link, a:visited {
  color: #376c89;
  text-decoration: none;
}
a:hover, a:active {
  text-decoration: underline;
  color: black;
}
div#subscriptions {
  position: relative;
  width: 500px;
}
img {border: none;}
.fl {
  cursor: pointer; 
}

/* Passowrd Generator 
********************************************/
div#pw_gen {
  position: relative;
  min-height: 280px;
}
div#generated_password {
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
}
div#pw_gen .pw-gen-label{
  float:left;
}
div.show_pw_gen .pw-gen-title{
  float:left;
}
div.show_pw_gen .pw-gen-close{
  float:right;
  cursor: pointer;
}
div#pw_gen .pw-gen-input{
  float:right;
}
div#pw_gen .pw-gen-options{
  padding: 20px;
}

div#pw_gen .pw-gen-line{
  height: 40px;
}
div#pw_gen #generate-password{
  text-align: center;
}
div#pw_gen .pw-gen-password{
  text-align: center;
  display: none;
}
div#pw_gen #generated-password{
  letter-spacing: 4px;
  font-size: 24pt;
  padding: 80px 10px 10px 10px;
}
div#pw_gen .pw-gen-options-bar{
  position: absolute;
  bottom: 0px;
  height: 65px;
  width: 100%;
  text-align: center;
  background-color: #f3f4f6;
}
div#pw_gen .pw-gen-button-line.pw-gen-options{
  margin-top:5px;
}
div#pw_gen .pw-gen-button-line.pw-gen-password{
  margin-top:25px;
}
div#pw_gen #pw-gen-password-btns{
  display: none;
}
div#pw_gen .edit-pw-gen-opts{
  color: #3a99d8;
  cursor: pointer;
}
div#pw_gen #pw_gen_frame {
  width: 500px;
  height: 315px;
}
.btn-blue{
  background-color: #3a99d8;
  color: #ffffff;
  padding:9px 25px;
  margin: 5px; 
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}