@font-face {
  font-family: 'OS';
  src: url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Regular-webfont.eot');
  src: url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Regular-webfont.eot?#iefix') format('eot'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Regular-webfont.woff') format('woff'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Regular-webfont.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OS Semibold';
  src: url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Semibold-webfont.eot');
  src: url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Semibold-webfont.eot?#iefix') format('eot'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Semibold-webfont.woff') format('woff'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Semibold-webfont.ttf') format('truetype'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OS Bold';
  src: url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Bold-webfont.eot');
  src: url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Bold-webfont.eot?#iefix') format('eot'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Bold-webfont.woff') format('woff'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('chrome-extension://__MSG_@@extension_id__/font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.bitium-ffc .ffc-head .ffc-logo{
  height: 20px;
  line-height: 20px;
  background: url('chrome-extension://__MSG_@@extension_id__/images/plugin-logo.png') no-repeat;
}

div.bitium-ffc .ffc-head .ffc-close{
  position:absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url('chrome-extension://__MSG_@@extension_id__/images/plugin-ico-x.png');
}

div.bitium-ffc .ffc-details-prompt .ffc-section input#ffc-app-search {
  border-radius: 15px;
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: 7px center;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/magnify.png');
}

div.bitium-ffc .ffc-details-prompt .ffc-app-selected a {
  display: block;
  height: 20px;
  line-height: 20px;
  font-family: "OS SemiBold", Arial, Sans-serif;
  background: url('chrome-extension://__MSG_@@extension_id__/images/plugin-capture-caret.png') right center no-repeat;
}

div.bitium-li div.bitium-li-logo {
  background: url('chrome-extension://__MSG_@@extension_id__/images/plugin-login-logo.png');
  width: 150px;
  height: 42px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50px;
  margin: 0 0 0 -75px;
}
div.bitium-li div.bitium-li-wrap > div.bitium-li-close {
  position:absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: url('chrome-extension://__MSG_@@extension_id__/images/plugin-login-x.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  div.bitium-ffc .ffc-head .ffc-close{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/plugin-ico-x@2x.png');
    background-size: 20px 40px;
  }
  div.bitium-li div.bitium-li-wrap > div.bitium-li-close {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/plugin-login-x@2x.png');
    background-size: 12px 24px;
  }
  div.bitium-ffc .ffc-head .ffc-logo{
    background: url('chrome-extension://__MSG_@@extension_id__/images/plugin-logo@2x.png') no-repeat;
    background-size: 72px 20px;
  }
  div.bitium-ffc .ffc-details-prompt .ffc-section input#ffc-app-search {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/magnify@2x.png');
    background-size: 16px 16px;
  }
  div.bitium-ffc .ffc-details-prompt .ffc-app-selected a {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/plugin-capture-caret@2x.png');
    background-size: 14px 8px;
  }
  div.bitium-li div.bitium-li-logo {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/plugin-login-logo@2x.png');
    background-size: 150px 42px;
  }
}