div.bitium-dropdown *,
div.bitium-ffc * {
  animation : none;
  animation-delay : 0;
  animation-direction : normal;
  animation-duration : 0;
  animation-fill-mode : none;
  animation-iteration-count : 1;
  animation-name : none;
  animation-play-state : running;
  animation-timing-function : ease;
  backface-visibility : visible;
  background : 0;
  background-attachment : scroll;
  background-clip : border-box;
  background-color : transparent;
  background-image : none;
  background-origin : padding-box;
  background-position : 0 0;
  background-position-x : 0;
  background-position-y : 0;
  background-repeat : repeat;
  background-size : auto auto;
  border : 0;
  border-style : none;
  border-width : medium;
  border-color : inherit;
  border-bottom : 0;
  border-bottom-color : inherit;
  border-bottom-left-radius : 0;
  border-bottom-right-radius : 0;
  border-bottom-style : none;
  border-bottom-width : medium;
  border-collapse : separate;
  border-image : none;
  border-left : 0;
  border-left-color : inherit;
  border-left-style : none;
  border-left-width : medium;
  border-radius : 0;
  border-right : 0;
  border-right-color : inherit;
  border-right-style : none;
  border-right-width : medium;
  border-spacing : 0;
  border-top : 0;
  border-top-color : inherit;
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  border-top-style : none;
  border-top-width : medium;
  bottom : auto;
  box-shadow : none;
  box-sizing : content-box;
  caption-side : top;
  clear : none;
  clip : auto;
  color : inherit;
  columns : auto;
  column-count : auto;
  column-fill : balance;
  column-gap : normal;
  column-rule : medium none currentColor;
  column-rule-color : currentColor;
  column-rule-style : none;
  column-rule-width : none;
  column-span : 1;
  column-width : auto;
  content : normal;
  counter-increment : none;
  counter-reset : none;
  float : none;
  font : normal;
  empty-cells : show;
  direction : ltr;
  font-family : inherit;
  font-size : medium;
  font-style : normal;
  font-variant : normal;
  font-weight : normal;
  height : auto;
  hyphens : none;
  left : auto;
  letter-spacing : normal;
  line-height : normal;
  list-style : none;
  list-style-image : none;
  list-style-position : outside;
  list-style-type : disc;
  margin : 0;
  margin-bottom : 0;
  margin-left : 0;
  margin-right : 0;
  margin-top : 0;
  max-height : none;
  max-width : none;
  min-height : 0;
  min-width : 0; 
  opacity : 1;
  orphans : 0;
  outline : 0;
  outline-color : invert;
  outline-style : none;
  outline-width : medium;
  overflow : visible;
  overflow-x : visible;
  overflow-y : visible;
  padding : 0;
  padding-bottom : 0;
  padding-left : 0;
  padding-right : 0;
  padding-top : 0;
  page-break-after : auto;
  page-break-before : auto;
  page-break-inside : auto;
  perspective : none;
  perspective-origin : 50% 50%;
  position : static;
  /* May need to alter quotes for different locales (e.g fr) */
  quotes : '\201C' '\201D' '\2018' '\2019';
  right : auto;
  tab-size : 8;
  table-layout : auto;
  text-align : inherit;
  text-align-last : auto;
  text-decoration : none;
  text-decoration-color : inherit;
  text-decoration-line : none;
  text-decoration-style : solid;
  text-indent : 0;
  text-shadow : none;
  text-transform : none;
  top : auto;
  transform : none;
  transform-style : flat;
  transition : none;
  transition-delay : 0s;
  transition-duration : 0s;
  transition-property : none;
  transition-timing-function : ease;
  unicode-bidi : normal;
  vertical-align : baseline;
  visibility : visible;
  white-space : normal;
  widows : 0;
  width : auto;
  word-spacing : normal;
  z-index : auto;
  /*
   display : inline;
  */
}


/* FROM FILLER
********************************************/
div.bitium-pw-button {
  position: absolute !important;
  border-radius: 3px;
  cursor: pointer;
  min-height: 16px;
  min-width: 16px;
  z-index: 9999999;
  border: none;
  background-size: cover !important;
}

div.bitium-pw-button:hover{
  background-color: #7592af;
}

div.bitium-password-overlay{
  position: absolute;
  background-color: #37495d;
  z-index: 9999999;
  text-align: center;
  overflow: hidden;
}

div.bitium-password-overlay span{
  color: #fff;
  display:inline-block; 
  vertical-align:middle;
}




/*
Capture
*/

div.bitium-ffc{
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%; 
  background-color: #32495e;
  /*border: 1px solid black;*/
  padding: 5px;
  border-radius: 0 0 0 6px;
  z-index: 2147483600 !important;
  font-family: "OS", Arial, Sans-serif;
}

div.bitium-ffc .ffc-head{
  font-weight: bold;
  color: #ffffff;
  padding: 5px 5px 10px;
  position: relative;
}

div.bitium-ffc .ffc-head img{
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}

div.bitium-ffc .ffc-head .ffc-close:hover,
div.bitium-ffc .ffc-head .ffc-close:active {
  background-position: 0 -20px;
}

div.bitium-ffc .ffc-prompt,
div.bitium-ffc .ffc-notification{
  font-family: "OS SemiBold", Arial, Sans-serif;
  background-color: #ffffff;
  color:#515050;
  text-align: center;
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 3px 3px 0px 0px;
}

div.bitium-ffc .ffc-notification-close{
  display: none;
}

div.bitium-ffc .ffc-notification{
  border-radius: 3px;
  display: none;
}

div.bitium-ffc .ffc-prompt .ffc-prompt-icon{
  border: 1px solid #e3e8ec;
  padding: 21px;
  margin-top: 15px;
  border-radius: 3px;
}

div.bitium-ffc .ffc-prompt .ffc-prompt-text,
div.bitium-ffc .ffc-notification .ffc-prompt-text{
  font-size: 18px;
}

div.bitium-ffc .ffc-prompt .ffc-app-name,
div.bitium-ffc .ffc-notification .ffc-app-name{
  font-size: 18px;
  font-family: "OS Bold", Arial, Sans-serif;
}

div.bitium-ffc .ffc-btn {
  font-size: 13px;
  padding: 12px 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 5px;
  border-radius: 3px;
  cursor: pointer;
}

div.bitium-ffc .ffc-loading {
  display: none;
}

div.bitium-ffc .ffc-application-type{
  display: none;
}

div.bitium-ffc .ffc-close-prompt{
  display: none;
  position: absolute;
  right: 5px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
  top: 35px;
  min-width: 140px;
}

div.bitium-ffc .ffc-close-prompt div{
  font-size: 11px;
  padding: 5px;
  cursor: pointer;
}

div.bitium-ffc .ffc-close-prompt div:hover{
  background-color: #f9f9fa;
  color: #2d8dd6;
}
div.bitium-ffc .ffc-close-prompt div:last-of-type{
  border-top: 1px solid #eee;
}

div.bitium-ffc .ffc-btn-pos {
  background-color: #0099db;
}

div.bitium-ffc .ffc-btn-neg{
  background-color: #b0b6c0;
}

/*SECONDARY OPTIONS*/

div.bitium-ffc .ffc-details-prompt {
  background-color: #f9f9fa;
  border-radius: 0px 0px 3px 3px;
  border-top: 1px solid #a3a3a5;
  /*display: none;*/
  min-height: 160px;
}

/*div.bitium-ffc .ffc-save-btns{
  display: none;
}*/

div.bitium-ffc .ffc-details-prompt .ffc-section{
  padding: 10px;
  border-bottom: 1px solid #e7ecef;
}

div.bitium-ffc .ffc-details-prompt .ffc-section .ffc-title{
  font-family: "OS Bold", Arial, Sans-serif;
  font-size: 10px;
  color:#979ba3;
}

div.bitium-ffc .ffc-details-prompt .ffc-section .ffc-content{
  padding: 10px 0px;
}
div.bitium-ffc .ffc-details-prompt .ffc-section .ffc-content-buttons{
  text-align: center;
  font-size: 0;
  height: 24px;
}

div.bitium-ffc .ffc-small-button {
  border: 1px solid #d7dce7;
  border-radius: 12px;
  padding: 0;
  width: 47%;
  height: 22px;
  line-height: 22px;
  color:#90949d;
  cursor: pointer;
  font-size: 11px;
  display: block;
}

div.bitium-ffc .ffc-small-button.ffc-selected {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #ffffff;
}

div.bitium-ffc .ffc-details-prompt .ffc-section:last-of-type{
  border-bottom: 0px;
}

div.bitium-ffc .ffc-details-prompt .ffc-section .ffc-content .ffc-small-button:first-child{
  float: left;
}
div.bitium-ffc .ffc-details-prompt .ffc-section .ffc-content .ffc-small-button:last-child{
  float: right;
}

div.bitium-ffc .ffc-details-prompt .ffc-section select{
  box-sizing: border-box;
  color: #2d2d2d;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

div.bitium-ffc .ffc-details-prompt .ffc-app-search-selection {
  display: none;
  padding: 5px;
  min-height: 32px;
  background: white;
  border-radius: 3px;
  border: 1px solid #DADFE9;
  cursor: pointer;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search {
  position: relative;
  padding: 10px 0px 0px 0px;
  display: none;
}

div.bitium-ffc .ffc-details-prompt .ffc-section input{
  box-sizing: border-box;
  color: #2d2d2d;
  border: 1px solid #dadfe9;
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
  padding: 4px 5px;
  font-family: "OS", Arial, Sans-serif;
}


div.bitium-ffc .ffc-details-prompt .ffc-app-search-results{
  border-radius: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  background-color: white;
  -moz-box-shadow:0px 0px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:0px 0px 3px rgba(0,0,0,0.3);
  width: 100%;
  overflow: hidden;
  max-height: 159px;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-results div.viewport {
  height: 159px;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-results div.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-results div.scrollbar div.track {
  background-color: transparent;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-results div.scrollbar div.thumb {
  opacity: 0.8;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper{
  /*display: none;*/
}

div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper .ffc-app-org {
  padding: 10px;
  min-height: 32px;
  border-bottom: 1px solid #f0f3f4;
  cursor: pointer;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper:last-child .ffc-app-org:last-child {
  border: none;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper .ffc-app-org:hover {
  background-color: #f9f9fa;
  color: #2d8dd6;
  text-decoration: none;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-selection .ffc-app-org-left,
div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper .ffc-app-org-left {
  float: left;
  background-color: white;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  border: 1px solid #e0e7eb;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-selection .ffc-app-org-left img,
div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper .ffc-app-org-left img{
  width: 30px;
  height: 30px;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-selection .ffc-app-org-right,
div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper .ffc-app-org-right {
  margin-left: 40px;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-selection .ffc-app-org-right .ffc-app-org-name,
div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper .ffc-app-org-right .ffc-app-org-name {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  padding-top: 2px;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-search-selection .ffc-app-org-right .ffc-app-org-login,
div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper .ffc-app-org-right .ffc-app-org-login {
  color: #90949d;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 12px;
  text-overflow: ellipsis;
}


div.bitium-ffc .ffc-details-prompt .ffc-app-select-wrap {
  position: relative;
}

div.bitium-ffc .ffc-details-prompt .ffc-app-select {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  border-radius: 3px;
  background-color: white;
  -moz-box-shadow:0px 0px 3px rgba(0,0,0,0.3);
  -webkit-box-shadow:0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:0px 0px 3px rgba(0,0,0,0.3);
  width: 100%;
  overflow: hidden;
  max-height: 104px;
  z-index: 1000;
  display: none;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-select div.viewport {
  height: 104px;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-select div.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-select div.scrollbar div.track {
  background-color: transparent;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-select div.scrollbar div.thumb {
  opacity: 0.8;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-select ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-select ul li a {
  padding: 6px 10px;
  font-size: 14px;
  display: block;
  border-bottom: 1px solid #f0f3f4;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-select ul li a:hover,
div.bitium-ffc .ffc-details-prompt .ffc-app-select ul li a:active {
  background: #f9f9fa;
  color: #2d8dd6;
  text-decoration: none;
}
div.bitium-ffc .ffc-details-prompt .ffc-app-select ul li:last-child a {
  border: none;
}

/*div.bitium-ffc .ffc-details-prompt .ffc-app-org-wrapper .ffc-app-org-right > div{
  float: left;
}*/

/*ffc-app-org-name
ffc-app-org-login*/

/* TINY SCROLLBAR
********************************************/
div.bitium-dropdown .viewport,
div.bitium-dropdown .overview{
  background: inherit;
  min-height: 0px;
}

.scrolly .viewport {
  border-radius: 0 0 3px 3px;
}
.scrolly.hasscroll {
}
.scrolly.hasscroll .viewport {
  overflow: hidden;
  position: relative;
  height: 162px;
  border-radius: 0 0 0px 3px;
}
.scrolly.hasscroll .overview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}


.scrolly.hasscroll .thumb .end, .scrolly.hasscroll .thumb {
  display: block;
}
.scrolly.hasscroll .scrollbar {
  display: block;
  position: relative;
  float: right;
  width: 10px;
  z-index: 500;
  padding: 0;
}
.scrolly.hasscroll .track {
  background-color: white;
  height: 100%;
  width: 8px;
  position: relative;
  padding: 0 1px;
  border-radius: 0 0 3px 0;
}
.scrolly.hasscroll .thumb {
  border-radius: 8px;
  height: 20px;
  width: 8px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  cursor: ns-resize;
  background-color: #a0a09f;
}
.scrolly.hasscroll .thumb .end {
  overflow: hidden;
  height: 5px;
  width: 8px;
}
.scrolly .scrollbar {
  display: none;
}
.scrolly .disable {
  display: none;
}






