#exportProgressesButton {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-right: 26px;
}

#exportProgressesButton svg {
    transform: rotate(270deg);
}

#exportProgressesButton circle {
    fill: transparent;
    stroke-width: 2px;
}

#exportProgressesButton circle#exportsProgressBarBackground {
    stroke: #f2f2f2;
}

#exportProgressesButton circle#exportsProgressBar {
    stroke: #3b99fc;
}

#exportsDoneTick {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    display: none;
}

#exportsFailedDot {
    display: none;
    position: absolute;
    left: 20px;
    top: 2px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ee6723;
    z-index: 10000;
}

.exportsFailed #exportsFailedDot {
    display: block;
}

.exportsDone #exportsDoneTick {
    display: block;
}

#exportProgressesContainer {
    width: 400px;
    position: fixed;
    top: 48px;
    right: 132px;
    z-index: 10000;
}

.fadeOutExportProgresses {
    opacity: 0;
}

#exportProgressesBox {
    width: 100%;
    max-height: 544px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 1px 3px 0 var(--maroon-50pc);
    border-radius: 2px;
}

@media screen and (max-height: 688px) {
    #exportProgressesBox {
        max-height: calc(100vh - 96px);
    }
}

#exportProgresses {
    transition-property: height;
    transition-timing-function: ease-in-out;
}

#clearExportProgresses {
    margin: 8px 0 0 360px;
}

.clearExportRect {
    width: 28px;
    height: 4px;
    margin-top: 4px;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 2px 4px 0 var(--maroon-50pc);
}

.clearExportRect:nth-child(2) {
    transform: translateX(6px);
}

.clearExportRect:nth-child(3) {
    transform: translateX(12px);
}
#exportProgressesTitle {
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
}

#exportProgressesTitle img {
    margin: 0 6px;
}

.exportProgress {
    height: 74px;
    width: 100%;
    display: flex;
    align-items: center;
    transition-duration: 200ms, 150ms, 200ms;
    transition-property: transform, opacity, height;
    transition-timing-function: ease-in;
    overflow: hidden;
}

#exportProgresses > .exportProgress:nth-child(odd) {
    background-color: #f2f2f2;
}

#exportProgresses > .exportProgress:nth-child(even) {
    background-color: #fff;
}

.exportProgressesOfProject > .exportProgress:nth-child(even) {
    background-color: #f2f2f2;
}

.exportProgressesOfProject > .exportProgress:nth-child(odd) {
    background-color: #fff;
}

.exportProgressInformation {
    width: 304px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.exportProgressLine {
    width: 100%;
    height: 18px;
    line-height: 18px;
    color: #574751;
    color: var(--maroon);
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 12px;
}

.exportProgressBarBox {
    height: 4px;
    width: 100%;
    border-radius: 3px;
    background-color: rgba(188, 181, 185, 0.3);
    background-color: var(--warm-gray-30);
    margin: 6px 0;
}

.exportProgressBar {
    width: 0%;
    max-width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #3b99fc;
}

.exportProgressDetail {
    height: 16px;
    width: 100%;
    color: #bcb5b9;
    color: var(--warm-gray);
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 18px;
}

.ticklingTheBackend::after {
    content: "…";
}

.failed {
    color: #ee6723;
    color: var(--peach);
}

.exportProgressDone {
    cursor: pointer;
}

.exportProgress.newScreen .exportProgressLine::before {
    content: "Importing";
}

.exportProgress.newScreen.exportProgressDone .exportProgressLine::before {
    content: "Imported";
}

.exportProgress.updateScreen .exportProgressLine::before {
    content: "Replacing";
}

.exportProgress.updateScreen.exportProgressDone .exportProgressLine::before {
    content: "Replaced";
}

.imported3 span {
    font-family: Comic Sans MS;
}

.imported3 .wow {
    color: #00ffff;
}

.imported3 .suchDesigns {
    color: #0000ff;
}

.imported3 .amaze {
    color: #ff00ff;
}

.imported3 .soColors {
    color: #00ff00;
}

.ticklingTheBackend,
.uploadingImages,

.failed,
.imported,

.imported1,
.imported2,
.imported3,
.imported4,

.tick,
.cancelExport,
.retryExport {
    display: none;
}

.exportProgress.uploadingImagesStep .uploadingImages,
.exportProgress.uploadingImagesStep .cancelExport {
    display: block;
}

.exportProgress.ticklingTheBackendStep .ticklingTheBackend,
.exportProgress.ticklingTheBackendStep .cancelExport {
    display: block;
}

.exportProgress.exportProgressDone .imported,
.exportProgress.exportProgressDone .tick {
    display: block;
}

.exportProgress.exportProgressDone.message1 .imported1,
.exportProgress.exportProgressDone.message4 .imported4 {
    display: flex;
    height: 100%;
    align-items: center;
}

.exportProgress.exportProgressDone.message1 .imported1 img {
    margin-left: 2px;
    height: 14px;
    width: 14px;
}

.exportProgress.exportProgressDone.message2 .imported2 {
    display: block;
}

.exportProgress.exportProgressDone.message3 .imported3 {
    display: block;
}

.exportProgress.exportProgressFailed .failed,
.exportProgress.exportProgressFailed .retryExport {
    display: block;
}

.exportProgressCommand {
    height: 24px;
    width: 24px;
    margin: 0 24px;
}

.exportProgressCommand img {
    pointer-events: none;
}

.exportProgressProjectLine {
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    background-color: var(--whitey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectInformation {
    height: 18px;
    width: 352px;
    font-size: 15px;
    color: #bcb5b9;
    color: var(--warm-gray);
    line-height: 18px;
}

.clearExportProgress {
    transform: translateX(100%);
    opacity: 0;
    height: 0;
}

@keyframes move {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 408px;
    }
}

.gettingProjectProgress {
    display: none;
    padding-left: 12px;
    font-size: 12px;
    font-weight: 500;
    width: 408px;
    height: 100%;
    align-items: center;
    background-image: repeating-linear-gradient(
            -66deg,
            transparent,
            transparent 15px,
            rgba(255, 255, 255, 0.2) 15px,
            rgba(255, 255, 255, 0.2) 22px);
    animation: move 7s linear infinite;
}

#exportProgresses > .gettingProject:last-child,
#exportProgresses > .gettingProjectFailed:last-child,
.exportProgressProjectGroup:last-child .gettingProject:last-child,
.exportProgressProjectGroup:last-child .gettingProjectFailed.last-child {
    margin-bottom: 12px;
}

#exportProgresses .exportProgress.gettingProject,
#exportProgresses .exportProgress.gettingProjectFailed {
    height: 36px;

}

#exportProgresses .exportProgress.gettingProject {
    background-color: #3b99fc;
}

#exportProgresses .exportProgress.gettingProjectFailed {
    background-color: #ee6723;
    background-color: var(--peach);
}

.gettingProject .exportProgressInformation,
.gettingProjectFailed .exportProgressInformation {
    display: none;
}

.gettingProject .gettingProjectProgress {
    display: flex;
}

.gettingProjectFailedInfo {
    display: none;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.gettingProjectFailed .gettingProjectFailedInfo {
    display: flex;
}

.exportProgressCommand.retryFetchProject {
    margin: 0;
}