#notificationsButton {
    position: relative;
    width: 36px;
    height: 36px;
}

#notificationsButton .notificationsIcon path {
    fill: #bcb5b9;
}

#notificationsButton:active .notificationsIcon path {
    fill: #a89fa5;
}

.unreadBadge {
    display: none;
    position: absolute;
    top: 4px;
    right: 6px;
    width: 12px;
    height: 12px;
    background-color: #ee6723;
    background-color: var(--peach);
    border-radius: 50%;
}

.promotionBadge {
    display: none;
    position: absolute;
    top: 4px;
    right: 6px;
    width: 12px;
    height: 12px;
}

#notificationsButton.hasUnread .unreadBadge {
    display: block;
}

#notificationsButton.hasPromotion .unreadBadge {
    display: none;
}

#notificationsButton.hasPromotion .promotionBadge {
    display: block;
}

#notificationContainer {
    position: absolute;
    top: 32px;
    right: 60px;
    z-index: 250;
    width: 400px;
    max-height: 568px;
    overflow: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 1px 3px 0 var(--maroon-50pc);
}

.noNotifications {
    display: none;
    padding: 36px 0;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
}

#notificationList:empty + .noNotifications {
    display: block;
}

#notificationContainer.error .noNotifications {
    display: none;
}

.notificationEnd {
    display: none;
    padding: 24px 0;
    text-align: center;
    line-height: 19px;
    font-size: 16px;
    font-style: italic;
}

#notificationContainer.fin .notificationEnd {
    display: block;
}

#notificationError {
    display: none;
    padding: 36px 0;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    cursor: pointer;
}

#notificationError .tryAgain {
    color: #c8cf2d;
    color: var(--light-green);
}

#notificationContainer.error #notificationError {
    display: block;
}

@media screen and (max-height: 640px) {
    #notificationContainer {
        max-height: calc(100vh - 64px);
    }
}

.notification {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 16px 12px 12px 16px;
}

.notification,
.notification * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.notification {
    cursor: default;
}

a.notification:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 71, 81, 0.15);
    background-color: var(--maroon-15pc);
    pointer-events: none;
}

a.notification.noClick {
    cursor: default;
}

a.notification.noClick:active::after {
    display: none;
}

.notification.new {
    background-color: rgba(254, 207, 51, 0.15);
    background-color: var(--yellow-15pc);
}

.notification.undefinedNotification {
    display: none;
}

.notification.createColor {
    align-items: flex-start;
}

.notification.createCoupon {
    padding: 0;
}

.notificationIcon {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 16px;
    border-radius: 50%;
}

.notificationSubIcon {
    position: absolute;
    right: -4px;
    bottom: -4px;
}

.notificationImage {
    width: 36px;
    height: 36px;
}

.notificationStar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    background-color: #fecf33;
    background-color: var(--yellow);
}

.notificationBody h4 {
    margin-bottom: 6px;
}

.notificationBody {
    flex: 1;
    overflow: hidden;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

.notificationContent {
    margin-bottom: 6px;
}

.noteName::before {
    content: "#";
}

.notification.createDotSingleUser .screenName::after,
.notification.createCommentSingleUser .screenName::after {
    content: ".";
}

.notification.createDotSingleUser.withContent .screenName::after,
.notification.createCommentSingleUser.withContent .screenName::after {
    content: ":";
}

.tailProject:not(:empty)::before,
.tailUsername:not(:empty)::before {
    content: " and ";
}

.dotCount:empty::after {
    content: "a note";
}

.notification.resolveDotSingleUser .dotCount:empty::after {
    content: "";
}

.dotCount:not(:empty)::after {
    content: " notes";
}

.dotName:not(:empty)::before {
    content: "note "
}

.screenCount:not(:empty)::after {
    content: " screens";
}

.colorCount::after {
    content: " colors";
}

.fontCount::after {
    content: " text styles";
}

.notification.newMember .notificationContent {
    margin-top: 9px;
}

.notificationFooter {
    display: flex;
    align-items: center;

    overflow: hidden;
    font-size: 14px;
    color: #bcb5b9;
    color: var(--warm-gray);
}

.notification.createDotSingleUser .notificationFooter,
.notification.resolveDotSingleUser .notificationFooter,
.notification.createDotMultiUser .notificationFooter,
.notification.resolveDotMultiUser .notificationFooter,
.notification.createCommentSingleUser .notificationFooter,
.notification.createCommentMultiUser .notificationFooter,
.notification.commentMention .notificationFooter,
.notification.createScreen .notificationFooter,
.notification.createScreenMulti .notificationFooter,
.notification.createVersion .notificationFooter,
.notification.createVersionMulti .notificationFooter,
.notification.deleteScreen .notificationFooter,
.notification.deleteScreenMulti .notificationFooter,
.notification.createColor .notificationFooter,
.notification.createColorMulti .notificationFooter,
.notification.deleteColor .notificationFooter,
.notification.deleteColorMulti .notificationFooter,
.notification.updateColor .notificationFooter,
.notification.updateColorMulti .notificationFooter,
.notification.createFont .notificationFooter,
.notification.createFontMulti .notificationFooter,
.notification.deleteFont .notificationFooter,
.notification.deleteFontMulti .notificationFooter,
.notification.updateFont .notificationFooter,
.notification.updateFontMulti .notificationFooter,
.notification.announcement .notificationFooter {
    justify-content: space-between;
}

.notification.inviteUser .notificationFooter,
.notification.inviteUserMulti .notificationFooter,
.notification.removeUser .notificationFooter,
.notification.newMember .notificationFooter,
.notification.newMemberMulti .notificationFooter,
.notification.deleteProject .notificationFooter,
.notification.archiveProject .notificationFooter,
.notification.activateProject .notificationFooter,
.notification.assignAdmin .notificationFooter,
.notification.assignAdminMulti .notificationFooter,
.notification.transferOwnership .notificationFooter,
.notification.authSlack .notificationFooter,
.notification.inviteMember .notificationFooter,
.notification.updateOrganizationMemberRole .notificationFooter {
    justify-content: flex-end;
}

.notificationProject {
    display: flex;
    align-items: center;
    flex: 0 1 auto;

    overflow: hidden;
}

.notificationProjectName,
.notificationAnnouncer {
    margin-right: 6px;

    flex: 0 1 auto;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notificationProjectType {
    margin-left: 6px;
}

.notificationLastUpdated {
    margin-left: 12px;
}

.notification.createCoupon .notificationLastUpdated {
    display: none;
}

.notification .screenName,
.notification .noteName,
.notification .projectName,
.notification .headProjects,
.notification .tailProject,
.notification .notificationColorName,
.notification .notificationFontName {
    font-weight: 500;
}

.notification .slackChannelName {
    font-weight: 500;
    font-style: italic;
}

.notification.createDotSingleUser.withContent .notificationContent,
.notification.createCommentSingleUser.withContent .notificationContent,
.notification.commentMention .notificationContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-style: italic;
}

.notification.createCoupon .notificationContent {
    flex: 1 1 auto;
    margin: 0;
    padding: 16px 12px 12px;
    white-space: pre-wrap;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

.notification.announcement .notificationContent {
    white-space: pre-wrap;
}

.notification.createDotSingleUser .dotAuthorImageFrame,
.notification.resolveDotSingleUser .dotResolverImageFrame,
.notification.createCommentSingleUser .commentAuthorImageFrame,
.notification.commentMention .mentionAuthorImageFrame,
.notification.newMember .newMemberImageFrame,
.notification .notifierImageFrame {
    width: 36px;
    height: 36px;
}

.notification.createDotSingleUser .dotAuthorImage,
.notification.resolveDotSingleUser .dotResolverImage,
.notification.createCommentSingleUser .commentAuthorImage,
.notification.commentMention .mentionAuthorImage,
.notification.newMember .newMemberImage,
.notification .notifierImage {
    display: inline-block;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    background-color: #f2f2f2;
    background-color: var(--whitey);
}

.multiMemberIcon,
.multiColorIcon,
.slackIcon {
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    background-color: #f2f2f2;
    background-color: var(--whitey);
    border-radius: 50%;
}

.updateIcon {
    width: 36px;
    height: 36px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    background-color: #fecf33;
    background-color: var(--yellow);
    border-radius: 50%;
}

.notificationSubIcon {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.notification.createDotSingleUser .notificationSubIcon,
.notification.resolveDotSingleUser .notificationSubIcon,
.notification.createDotMultiUser .notificationSubIcon,
.notification.createCommentSingleUser .notificationSubIcon,
.notification.createCommentMultiUser .notificationSubIcon {
    background-color: #c8cf2d;
    background-color: var(--light-green);
    line-height: 20px;
    font-size: 14px;
}

.notification.createScreen .notificationSubIcon,
.notification.createScreenMulti .notificationSubIcon,
.notification.createVersion .notificationSubIcon,
.notification.createVersionMulti .notificationSubIcon,
.notification.createColor .notificationSubIcon,
.notification.createColorMulti .notificationSubIcon,
.notification.updateColor .notificationSubIcon,
.notification.updateColorMulti .notificationSubIcon,
.notification.createFont .notificationSubIcon,
.notification.createFontMulti .notificationSubIcon,
.notification.updateFont .notificationSubIcon,
.notification.updateFontMulti .notificationSubIcon {
    background-color: #c8cf2d;
    background-color: var(--light-green);
    line-height: 20px;
    font-size: 19px;
}

.notification.transferOwnership .notificationSubIcon {
    background-color: #c8cf2d;
    background-color: var(--light-green);
    line-height: 21px;
    font-size: 13px;
}

.notification.deleteScreen .notificationSubIcon,
.notification.deleteScreenMulti .notificationSubIcon,
.notification.removeUser .notificationSubIcon,
.notification.deleteProject .notificationSubIcon,
.notification.deleteColor .notificationSubIcon,
.notification.deleteColorMulti .notificationSubIcon,
.notification.deleteFont .notificationSubIcon,
.notification.deleteFontMulti .notificationSubIcon {
    background-color: #ee6723;
    background-color: var(--peach);
    line-height: 21px;
    font-size: 18px;
}

.notification.inviteUser .notificationSubIcon,
.notification.inviteUserMulti .notificationSubIcon,
.notification.newMember .notificationSubIcon,
.notification.newMemberMulti .notificationSubIcon,
.notification.archiveProject .notificationSubIcon,
.notification.activateProject .notificationSubIcon,
.notification.assignAdmin .notificationSubIcon,
.notification.assignAdminMulti .notificationSubIcon,
.notification.authSlack .notificationSubIcon {
    background-color: #c8cf2d;
    background-color: var(--light-green);
    font-size: 14px;
    line-height: 20px;
}

.notification .colorPreview {
    border: 1px solid rgba(87, 71, 81, 0.3);
    border: 1px solid var(--maroon-30pc);
}

.notification .colorPreview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: linear-gradient(45deg, #dddadc 25%, transparent 25%, transparent 75%, #dddadc 75%, #dddadc),
                      linear-gradient(45deg, #dddadc 25%, transparent 25%, transparent 75%, #dddadc 75%, #dddadc);
    background-size: 12px 12px;
    background-position: 0 0, 6px 6px;
    border-radius: 50%;
    z-index: -1;
}

.notification.updateOrganizationMemberRole .roleIcon {
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
}