.projectList {
    padding-bottom: 12px;
}

.projectList h3 {
    display: flex;
    font-size: 15px;
    padding: 16px 12px 6px;
    color: #574751;
    color: var(--maroon);
}

.projectList h3 span:first-child {
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectList h3:not(:first-child) {
    margin-top: 24px;
}

.projectList .newProjectButton {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
}

.projectList .newProjectButton .plus {
    margin-right: 12px;
}

.projectList .newProjectButton .plus circle {
    fill: #fecf33;
}

.projectList .newProjectButton .plus path {
    fill: #fff;
    filter: drop-shadow(0.5px 0.5px rgba(87, 71, 81, 0.3));
}

.projectList .newProjectButton > div {
    flex: 1 1 auto;
    overflow: hidden;
}

.projectList .newProjectButton div div:first-child {
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
}

.projectList .newProjectButton div div:last-child {
    line-height: 16px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #bcb5b9;
    color: var(--warm-gray);
}

.projectList .newProjectButton.selected {
    background-color: #fecf33;
    background-color: var(--yellow);
    color: #fff;
}

.projectList .newProjectButton.selected circle {
    fill: #fff;
}

.projectList .newProjectButton.selected path {
    fill: #fecf33;
}

.projectList .newProjectButton.selected div div:first-child {
    color: #fff;
}

.projectList .newProjectButton.selected div div:last-child {
    color: rgba(255, 255, 255, 0.7);
}

.projectList .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    font-size: 15px;
    color: #574751;
    color: var(--maroon);
    cursor: pointer;
}

.projectList .project span {
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectList .spinner {
    margin-left: 12px;
    animation-name: spin-reverse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.projectList .spinner path {
    fill: #bcb5b9;
}

.projectList .project.odd {
    background-color: #f2f2f2;
    background-color: var(--whitey);
}

.projectList .project.selected {
    background-color: #fecf33;
    background-color: var(--yellow);
    color: #fff;
}


.projectList .selected .spinner path {
    fill: #fff;
}
.moveScreenPopup {
    position: absolute;
    top: 108px;
    left: 172px;
    width: 320px;
    max-height: 720px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(87, 71, 81, 0.5);
    box-shadow: 0 1px 3px 0 var(--maroon-50pc);
    overflow: auto;
    z-index: 200;
}

.moveScreenPopup p {
    font-size: 15px;
    padding: 24px 12px;
    color: #574751;
    color: var(--maroon);
}

.moveScreenPopup .projectListLoading {
    height: 178px;
    background-image: linear-gradient(#f2f2f2, #f2f2f2), repeating-linear-gradient(#f2f2f2, #f2f2f2 42px, #fff 42px, #fff 84px);
    background-image: linear-gradient(var(--whitey), var(--whitey)), repeating-linear-gradient(var(--whitey), var(--whitey) 42px, #fff 42px, #fff 84px);
    background-position: 14px 12px, 0 40px;
    background-size: 122px 20px, 100% 166px;
    background-repeat: no-repeat;
}

@media (max-height: 852px) {
    .moveScreenPopup {
        max-height: calc(100vh - 132px);
    }
}
