<!DOCTYPE html>

<html lang="en" itemscope itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- Standard -->
        <title>Starbucks | Customers | Zeplin</title>
        <meta name="description" content="Collaboration app for UI designers and frontend developers">
        <meta name="keywords"
              content="designer, developer, UI, frontend, collaboration, photoshop, sketch, spec, color palette">
        <meta name="author" content="Zeplin">
        <link rel="canonical" href="{{WEB_URL}}/customers/starbucks.html">

        <!-- Schema.org -->
        <meta itemprop="name" content="Starbucks">
        <meta itemprop="description" content="Collaboration app for UI designers and frontend developers">
        <meta itemprop="url" content="{{WEB_URL}}/customers/starbucks.html">
        <meta itemprop="keywords" content="designer, developer, UI, frontend, collaboration, photoshop, sketch, spec, color palette">
        <meta itemprop="image" content="{{WEB_URL}}/img/favicon/228x228.png">
        <meta itemprop="sourceOrganization" content="Zeplin">
        <meta itemprop="inLanguage" content="en-US">

        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@graph": [{
                        "@type": "Organization",
                        "@id": "https://zeplin.io/#organization",
                        "url": "https://zeplin.io",
                        "logo": "https://zeplin.io/img/favicon/256x256.png",
                        "sameAs": [
                            "https://twitter.com/zeplin_io",
                            "https://www.facebook.com/zeplin.io",
                            "https://youtube.com/ZeplinIo",
                            "https://www.linkedin.com/company/zeplin-io",
                            "https://plus.google.com/+ZeplinIo"
                        ]
                    }, {
                        "@type": "WebSite",
                        "@id": "https://zeplin.io/#website",
                        "url": "https://zeplin.io",
                        "name": "Zeplin"
                    }, {
                        "@type": "WebPage",
                        "@id": "https://zeplin.io/#webpage",
                        "url": "https://zeplin.io/customers/starbucks.html",
                        "name": "Starbucks"
                    }, {
                        "@type": "BreadcrumbList",
                        "itemListElement": [{
                            "@type": "ListItem",
                            "position": 1,
                            "item": {
                                "@id": "https://zeplin.io/customers/",
                                "name": "Customers"
                            }
                        }, {
                            "@type": "ListItem",
                            "position": 2,
                            "item": {
                                "@id": "https://zeplin.io/customers/starbucks.html",
                                "name": "Starbucks"
                            }
                        }]
                    }
                ]
            }
        </script>

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@zeplin_io">
        <meta name="twitter:label1" content="Platform">
        <meta name="twitter:data1" content="Sketch">
        <meta name="twitter:label2" content="Awesomeness">
        <meta name="twitter:data2" content="Very High">

        <!-- OpenGraph -->
        <meta property="og:title" content="Starbucks">
        <meta property="og:site_name" content="Zeplin">
        <meta property="og:url" content="{{WEB_URL}}/customers/starbucks.html">
        <meta property="og:description" content="Collaboration app for UI designers and frontend developers">
        <meta property="fb:app_id" content="{{FB_APP_ID}}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_US">
        <meta property="og:image" content="{{WEB_URL}}/img/favicon/228x228.png">

        <!-- Favicons -->
        <!-- Standard -->
        <meta name="theme-color" content="#FFFFFF">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" type="image/png" href="../img/favicon/16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="../img/favicon/32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="../img/favicon/48x48.png" sizes="48x48">
        <link rel="icon" type="image/png" href="../img/favicon/64x64.png" sizes="64x64">
        <link rel="icon" type="image/png" href="../img/favicon/96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="../img/favicon/128x128.png" sizes="128x128">
        <link rel="icon" type="image/png" href="../img/favicon/160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="../img/favicon/196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="../img/favicon/228x228.png" sizes="228x228">
        <link rel="icon" type="image/png" href="../img/favicon/256x256.png" sizes="256x256">
        <link rel="shortcut icon" href="../img/favicon/favicon.ico">

        <!-- Apple -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-startup-image" href="../img/favicon/320x480.png">
        <meta name="apple-mobile-web-app-title" content="Zeplin">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/114x114.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/120x120.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/144x144.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/152x152.png">

        <!-- Microsoft -->
        <meta name="application-name" content="Zeplin">
        <meta name="msapplication-tooltip" content="Zeplin">
        <meta name="msapplication-window" content="width=1024;height=768">
        <meta name="msapplication-navbutton-color" content="#EE6723">
        <meta name="msapplication-starturl" content="{{WEB_URL}}">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="../img/favicon/144x144.png">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <!-- Favicons -->

        <link rel="stylesheet" type="text/css" href="../css/zeplin.c478a12b1b.css">

        <script src="../components/webcomponents-lite.min.js"></script>
        <link rel="import" href="../components/paper-elements/paper-ripple/paper-ripple.html">

        <script src="../js/zeplin.d876576534.js" defer></script>
        <script src="../js/redirect.2132e800f5.js" defer></script>
    </head>
    <body>
    </body>
</html>
